span{
    color:aqua;
    font-size:large;
}
    subhead{
        font-family:sans-serif;
        color:red
    }
        #para{
        background-color:blue;
        color:red;
}
span,subhead,h1{
    background-color: brown;
}
/universal selector/
*{
    background-color: magenta;
}
/*decendent selector */
div > p{
    color: darkgreen;
}
/*decendent selector */
div > p{
    color: fuchsia;
}
/*Attribute selector */

input[type="text"]{
    color: blue;
}
/* Adjcent sibling selector */
h1 + p{
    color: chocolate;
}
/general sibling/
h1 ~ p{
    color:black;
}